<!DOCTYPE html>
<html>
<head>
<title>Kazakhstan</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://wallpapercave.com/wp/wp3640541.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

a{
	text-decoration: none;
	padding: 10px 20px
}
</style>

</head>
<body>

</div>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
	<div style="font-size: 15px ; text-align: center; padding: 10px">
  <a href="http://127.0.0.1:8000/">HOME</a>
  <a href="http://127.0.0.1:8000/services">SERVICES</a>
  <a href="http://127.0.0.1:8000/covid">COVID-19</a>
  <a href="http://127.0.0.1:8000/about">ABOUT US</a>
  <a href="http://127.0.0.1:8000/admin">LOG IN</a>

</div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">
Our guides:</h1>
    <p>Tours and excursions are conducted by professional guides, most of the skills are confirmed by certificates. By taking part in an excursion or tour, you can provide feedback to the guide and help improve the quality of service.</p>
    <p>
    	
Total guides: 57
</p>
<p>Total guides in Almaty: 30</p>
<p>Total guides in Nur-Sultan: 27</p>


    </p>
  </div>
  
</div>

</body>
</html>
