<!DOCTYPE html>
<html>
<head>
<title>COVID-19</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://wallpapercave.com/wp/wp3640541.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

a{
	text-decoration: none;
	padding: 10px 20px
}
</style>

</head>
<body>

</div>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
	<div style="font-size: 15px ; text-align: center; padding: 10px">
  <a href="http://127.0.0.1:8000/">HOME</a>
  <a href="http://127.0.0.1:8000/services">SERVICES</a>
  <a href="http://127.0.0.1:8000/covid">COVID-19</a>
  <a href="http://127.0.0.1:8000/about">ABOUT US</a>
  <a href="http://127.0.0.1:8000/admin">LOG IN</a>

</div>
  <div class="w3-display-middle">
    <h1 class="w2-jumbo w2-animate-top">KAZAKHSTAN TRAVEL RESTRICTIONS</h1>
    <hr class="w3-border-grey" style="margin:auto;width:100%">
    <p>Passengers  arriving to Kazakhstan from the foreign countries must have a negative PCR test certificate (no more than 72 hours should pass from the day of collection of biomaterial till the moment of crossing the border of the Republic of Kazakhstan). PCR test certificate must be in English, Russian or Kazakh languages.

Exceptions:
Children under the age of 5.
Effective from 19th of February 2022, passengers who have been revaccinated or fully vaccinated against COVID-19 or  in the Republic of Kazakhstan upon providing a documentary confirmation (no more than 6 months must have passed since the second component was received at the time of crossing the border of the Republic of Kazakhstan), do not need to present a negative PCR test certificate.

This also applies to passengers (foreigners as well) who have provided a vaccination passport/certificate against COVID-19, recognized as valid on the territory of the Republic of Kazakhstan.</p>
  </div>
  
</div>

</body>
</html>
